/* 
    Document   : styles
    Created on : 04.01.2014, 2:32:35
    Author     : kilrwhle
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.topPanel {
    width: 100%;
}

.contentPanel {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.loginPanel {
    width: 400px;
    margin-left: auto;
    margin-right: 20px;
}

.logout {
    text-decoration: none;
    cursor: pointer;
}

.form-component {
    width: 400px;
    height: 30px;
}

.btn-submit {
    width: 100px;
    height: 30px;
}

.adminImagePreview {
    display: inline-block;
    position: inherit;
    width: 152px;
}

.removeLink {
    background-color: red;
    text-decoration: none;
    color: white;
    width: 150px;
    text-align: center;
}