<!DOCTYPE html> 
<html xmlns:wicket="http://wicket.apache.org">
    <body> 
    <wicket:panel>
        <ul class="pagination pagination-split" wicket:id="globalContainer">
            <li>
                <a href="#" wicket:id="sprev"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li>
                <a href="#" wicket:id="prev"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li wicket:id="numbers">
                <a href="#" wicket:id="numberLink">
                    <span class="fa" wicket:id="number"></span>
                </a>
            </li>
            <li>
                <a href="#" wicket:id="next"><i class="fa fa-arrow-right"></i></a>
            </li>
            <li>
                <a href="#" wicket:id="snext"><i class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </wicket:panel>
</body> 
</html>