<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd" 
      xml:lang="en" 
      lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>RichTextEditor</title>
    </head>
    <body>
        <wicket:panel>
            <wicket:extend>
                <link rel="stylesheet" href="css/summernote.css"></link>
                <script src="js/summernote.min.js"></script>
                <script>
                    $(document).ready(function () {
                        turnOnEditor();
                    });
                </script>
                
                <div id="summernote"></div>
                <a href="#" class="btn btn-success" style="margin: 5px auto 5px auto;" onclick="javascript: showContent();">
                    Предпросмотр
                </a>
                <input wicket:id="editor-input" style="display: none;"/>
                <div id="preview" style="border: #000 dashed thick;"></div>
            </wicket:extend>
        </wicket:panel>
    </body>
</html>
